<% include header %>
    <p><%= text %></p>
    <% if (parts)
        parts.forEach(function (part) { %>
        <h2><%= part.title %></h2>
        <p><%= part.text %></p>
        <%   
        });
    %>
<% include footer %>