<% layout('layout') -%>
<div class="row btn-group">
<a class="btn btn-info" href="/customers">Customers</a>
</div>
<div class='row'>
    <table class="table-striped table-bordered">
        <tr>
            <td>Name</td>
            <td><%= item.name %></td>
        </tr>
        <tr>
            <td>Address</td>
            <td><%= item.address %></td>
        </tr>
    </table>
</form>
</div>