<% layout('layout') -%>
<div>
<form method="post">
    <table>
        <tr>
            <td>Name</td>
            <td><input type="text" name="name"/></td>
        </tr>
        <tr>
            <td>Address</td>
            <td><input type="text" name="address"/></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Create" /></td>
        </tr>
    </table>
</form>
</div>